.detailContainer {
  width: 75%;
  margin: 0 auto;
}

.path {
  margin: 2rem 0;
}

.detailsBox {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1.5rem;
}

.detailContainer img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.addBtn,
.removeBtn {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(104, 255, 104);
  cursor: pointer;
}

.removeBtn {
  background-color: rgb(104, 255, 104);
}

.removeBtn {
  background-color: rgb(255, 104, 104);
}

.detailInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.detailsBox h1 {
  color: black;
  font-size: 2.5rem;
}

.detail {
  background-color: beige;
  padding: 1rem;
}

.detail p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.ccc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardText h2 {
  margin-bottom: 0.6rem;
  /* letter-spacing: 0.1rem; */
}

.cardText p {
  line-height: 1.5rem;
}
